<section class="title-area">
    <h1>Payroll</h1>
    <span class="spacer"></span>
    <div class="actions-bar">
        <p> <button mat-stroked-button color="primary" (click)="updatePayPeriod('decrement')"> < </button> Pay period: {{currentPeriodString}} <button mat-stroked-button [disabled]="!showNextPeriodBtn" color="primary" (click)="updatePayPeriod('increment')"> > </button></p> 
    </div>
</section>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
  
    <ng-container matColumnDef="salary_type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element.mode == 'list'">
          {{element.salary_type}} 
        </ng-container>
        <ng-container *ngIf="element.mode == 'edit'">
          <!-- <mat-form-field appearance="standard">
            <input matInput value={{element.salary_type}}>
          </mat-form-field> -->
          <mat-form-field>
            <mat-select [(value)]="element.salary_type" (change)="element.gross_pay = calcGrossPay(element)">
              <mat-option value="hourly"> hourly </mat-option>
              <mat-option value="yearly"> yearly </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>
  
    <ng-container matColumnDef="pay_rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pay rate </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element.mode == 'list'">
          ${{element.pay_rate}}<span style="color: #777777; font-size: 12px">/{{ element.salary_type == 'hourly' ? 'hr': 'yr'}}</span>
        </ng-container>
        <ng-container *ngIf="element.mode == 'edit'">
          <mat-form-field appearance="standard">
            <input matInput type="number" [(ngModel)]="element.pay_rate" (ngModelChange)="element.gross_pay = calcGrossPay(element)">
            <span matPrefix>$&nbsp;</span>
            <span matSuffix>/{{ element.salary_type == 'hourly' ? 'hr': 'yr'}}</span>
          </mat-form-field>
        </ng-container>
      </td>

    </ng-container>
  
    <ng-container matColumnDef="hours_worked">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours worked </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element.mode == 'list' || element.salary_type=='yearly'">
          {{element.salary_type == 'hourly' ? element.hours_worked : '-' }}
        </ng-container>
        <ng-container *ngIf="element.mode == 'edit' && element.salary_type == 'hourly'">
          <mat-form-field appearance="standard">
            <input matInput type="number" [(ngModel)]="element.hours_worked" (ngModelChange)="element.gross_pay = calcGrossPay(element)">
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="overtime_rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Overtime rate </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.overtime_rate}} </td> -->

      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element.mode == 'list'">
          {{element.overtime_rate}}
        </ng-container>
        <ng-container *ngIf="element.mode == 'edit'">
          <mat-form-field appearance="standard">
            <input matInput type="number" [(ngModel)]="element.overtime_rate" (ngModelChange)="element.gross_pay = calcGrossPay(element)">
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="overtime_hours">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Overtime hours worked </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element.mode == 'list'">
          {{element.overtime_hours}}
        </ng-container>
        <ng-container *ngIf="element.mode == 'edit'">
          <mat-form-field appearance="standard">
            <input matInput type="number" [(ngModel)]="element.overtime_hours" (ngModelChange)="element.gross_pay = calcGrossPay(element)">
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="deductions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Deductions </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element.mode == 'list'">
          ${{element.deductions}}
        </ng-container>
        <ng-container *ngIf="element.mode == 'edit'">
          <mat-form-field appearance="standard">
            <input matInput type="number" [(ngModel)]="element.deductions" (ngModelChange)="element.gross_pay = calcGrossPay(element)">
            <span matPrefix>$</span>
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="tax_rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Tax Rate </th>
      <td mat-cell *matCellDef="let element"> 
        <ng-container *ngIf="element.mode == 'list'">
          {{element.tax_rate}}%
        </ng-container>
        <ng-container *ngIf="element.mode == 'edit'">
          <mat-form-field appearance="standard">
            <input matInput type="number" [(ngModel)]="element.tax_rate" (ngModelChange)="element.gross_pay = calcGrossPay(element)">
            <span matSuffix>%</span>
          </mat-form-field>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="gross_pay">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gross Pay </th>
      <td mat-cell *matCellDef="let element"> <b>${{element.gross_pay}}</b> </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.mode=='list'">
          <button mat-stroked-button color="primary" (click)="element.mode = 'edit'"><mat-icon matSuffix>edit</mat-icon></button> 
        </ng-container>
        <ng-container *ngIf="element.mode=='edit'">
          <button mat-stroked-button color="primary" (click)="element.mode = 'list'; updateRow(element)"><mat-icon matSuffix color="success">done</mat-icon></button> 
          <button mat-stroked-button color="primary" (click)="element.mode = 'list'; refreshData()" color="danger"><mat-icon matSuffix>close</mat-icon></button> 
        </ng-container>
        
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  