
.title-area {
    display: flex;

    h1 {
        color: #3f51b5;
    }
}

.spacer {
    flex: 1 0 auto
}

@media (min-width: 750px) {
    mat-form-field {
        width: 40%;
        display: block;
    }
}

@media (max-width: 749px) {
    mat-form-field {
        width: 80%;
        display: block;
    }
}


button {
    margin-right: 10px;
}