<!-- <a routerLink="/people/list" routerLinkActive="active">List</a> <br>
<a routerLink="/people/add" routerLinkActive="active">Add</a>
 -->
<section class="title-area">
    <h1>People List</h1>
    <span class="spacer"></span>
    <div class="actions-bar">
        <button mat-stroked-button color="primary" routerLink="/people/add">+ Add</button>
    </div>
</section>
    
<section>
    <article class="card" *ngFor="let data of mockData">
        <div class="main">
            <div class="pic">
                <!-- <img class="placeholder" /> -->
                <svg height="70" width="70">
                <circle cx="35" cy="35" r="30" stroke-width="1" fill="lightgrey" />
                </svg>
            </div>
            <div class="details">
                <h3>{{data.firstname + ' ' + data.lastname}}</h3>
                <h4>{{data.position}}, {{data.department}}</h4>
                <p>At the company from {{data.start_data}}</p>
            </div>
        </div>
        <div class="footer">
            <p><mat-icon matSuffix>call</mat-icon> {{ data.phone }}</p>
            <span class="spacer"></span>
            <p><mat-icon matSuffix>email</mat-icon> {{ data.email }}</p>
        </div>
        
    </article>
</section>
